h1{

    background-color: paleturquoise;
    
text-align: center;

}

h1:hover{
    background-color: aqua;


}
body, html {
    height: 100%;
  }
  
  body {

    background-image: url("sdfd.jpg");
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }

  #secondcard{

    display: flex;
    flex-direction: row;
  }